<!--{{diagnostic}}-->
<div [hidden] = "submitted">
<div class="container">
  <h1>Order Form</h1>
  <form *ngIf = "active" (ngSubmit)="onSubmit()" #orderForm="ngForm">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control"
                   id="firstName" required
                [(ngModel)]="order.firstName" name="firstName"
                   #firstName="ngModel">
          </div>
          <div [hidden]="firstName.valid || firstName.pristine"
               class="alert alert-danger">
            First Name is required
          </div>
        </div>
      <div class="col-md-4">
          <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName"
                   [(ngModel)]="order.middleName" name="middleName">
          </div>
        </div>
      <div class="col-md-4">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required
                   [(ngModel)]="order.lastName" name="lastName"
                   #lastName="ngModel">
          </div>
          <div [hidden]="lastName.valid || lastName.pristine"
               class="alert alert-danger">
            Last Name is required
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="contactNumber">Phone Number</label>
          <input type="text" class="form-control"
                 id="contactNumber" required
                 [(ngModel)]="order.contactNumber" name="contactNumber"
                 #contactNumber="ngModel"
                 pattern="[0-9 ]+">
        </div>
        <div [hidden]="contactNumber.valid || contactNumber.untouched"  class="alert alert-danger">
          <div *ngIf="contactNumber.errors && contactNumber.errors.required" >
            Phone Number is required
          </div>
          <div *ngIf="contactNumber.errors && contactNumber.errors.pattern" >
            Phone Number is invalid
          </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required
                   [(ngModel)]="order.email" name="email"
                   #email="ngModel"
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          </div>
          <div [hidden]="email.valid || email.untouched"  class="alert alert-danger">
            <div *ngIf="email.errors && email.errors.required" >
              Email is required
            </div>
            <div *ngIf="email.errors && email.errors.pattern" >
              Email is invalid
            </div>
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="productName">Products</label>
      <select class="form-control" id="productName" required
              [(ngModel)] = "order.productName" name="productName">
        <option *ngFor="let p of products" [value]="p">{{p}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="orderComment">Additional Comment</label>
      <textarea rows="5" cols="80" id="orderComment" class="form-control" [(ngModel)]="order.orderComment" name="orderComment"></textarea>
    </div>
    <!--
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control"
                 id="name" required
                [(ngModel)]="order.name" name="name"
                #name="ngModel">
        </div>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control" id="power" required
           [(ngModel)] = "order.power" name="power">
            <option *ngFor="let p of powers" [value]="p">{{p}}</option>
          </select>
        </div>
        -->
    <button type="submit" class="btn btn-default" [disabled]="!orderForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="resetOrder()">Reset</button>
  </form>
</div>
</div>
<div [hidden]="!submitted">

  <div *ngIf="!orderCreatedOnServer && !errorRESTAPI"><h1 class="text-primary">Your request is being processed. Please wait...</h1></div>
  <div *ngIf="orderCreatedOnServer">
    <h1 class="text-success"> Your order has been sent successfully. Order ID: {{order.id}} Time: {{order.createdTAD}}</h1>
  </div>
  <!-- Error color "text-danger"-->
  <h2>Request Details:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ order.firstName}} {{ order.middleName}} {{ order.lastName}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Phone Number</div>
    <div class="col-xs-9 pull-left">{{ order.contactNumber}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Email</div>
    <div class="col-xs-9 pull-left">{{ order.email }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Product</div>
    <div class="col-xs-9 pull-left">{{ order.productName}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Order Comment:</div>
    <div class="col-xs-9 pull-left">{{ order.orderComment }}</div>
  </div>
  <br>
  <!--<button class="btn btn-default" (click)="submitted=false">Edit</button>-->
  <div *ngIf="orderCreatedOnServer">
    <button class="btn btn-default" (click)="resetOrder()">Create New Order</button>
  </div>

  <div *ngIf="errorRESTAPI">
    <h1 class="text-danger">There was an error loading your order.</h1>
    <h2> Error details: {{errorRESTAPI}}</h2>
  </div>
</div>
